.body{
    margin: 0;
    padding: 0;
}

.main{
    width: 100;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
}
.timer{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(146, 240, 216);
    align-items: center;
    justify-content: center;
    display: flex;
    background: black;
    color: chocolate;


}
.cornometr{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(146, 240, 216);
    align-items: center;
    justify-content: center;
    display: flex;
    background: black;
    color: chocolate;


}

.h1 {
  color: white;
}
.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.circle-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.circle-button:hover {
  transform: scale(1.1);
}

.start-button {
  background-color: #28a745; /* سبز */
}

.stop-button {
  background-color: #dc3545; /* قرمز */
}

.reset-button {
  background-color: #6c757d; /* خاکستری */
}
